*{
    margin:0;
    padding:0;
    border:0;
}

nav .brand-logo{
    color: white;
    font-family:cursive;
    line-height: 40px;
    margin-top: 5px;
}

nav ul a {
    color:white;
    font-family:cursive;
    font-size: medium;
}

div #herocard{
    padding-top: 50px;
}

div .card-content{
    letter-spacing: 2px;
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(5, 5, 5, 0.6);
}

body {
    font-family:cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Sticky Footer from materialise */

  main {
    flex: 1 0 auto;
  }

/* Images for home page and profile page */

#hero-image {
    min-height: 100vh;
    width:100%;
    background: url("../img/heroimg.jpg") no-repeat center center;
}

#hero2-image {
        min-height: 100vh;
        width: 100%;
        background: url("../img/hero2.jpg") no-repeat center center;
    }

/* making space from the left side of screen for Share Plate */

.brand-logo{
    margin-left: 15px;
}

div i .col .far .fa-star .data-tooltip{
    background-color: azure;
    color: black;
}

/* Styling the flashes messaging section */

.flashes h4 {
    line-height: 2;
}

.fa-star {
    margin-left: 5px;
}

.btn-small {
    margin-left: 8px;
}

.collapsible-header .col strong {
    font-size: 20px;
    margin: 5px;
    line-height: 40px;
}

/* image for categories */
.card-image{
    height: 325px;
}
/* Category page */

.card .card-image .card-title {
    color: black;
    }

/* pink edit category button style */

button, input, optgroup, select, textarea {
    font-family: cursive;
    font-size: 14px;
}

textarea #method {
    max-width: 90%;
}

/* styling button on login home page from orange to pink */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color:hotpink;
    font-size: larger;
    border-color: white;
}


.input-field>label {
    color: black;
    padding-left: 15px;
}

h3 .center-align .profile-name {
    text-transform: capitalize;
}

/* footer styling */

.social li{
    display: inline;
}

.social i {
    font-size: 200%;
    margin: 15px;
    padding: 15px;
    color: darkslategray
}

footer {
    height: 75px;
}


/*  ---------------------------- for very small devices */

@media screen and (max-width: 500px){

/* fixing input field line problem on smaller screens */
div .input-field #query  { 
    height: 60px;
    margin-right: 10px;
}

/* fixing logo problem on smaller screens*/
nav .brand-logo {
    font-size: 20px;
}
a>div .col #delete {
    background-color: red;
}
}