<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shareplate</title>

    <!--Font-Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
</head>

<body>
    <header>
        <!-- Selected this nav bar from materialise because as nav bar is resized the links turn into a hamburger icon-->
        <nav class="nav-extended text-shadow pink darken-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo">Share Plate</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-utensils"></i></a>
                <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                    <!-- Using session variables to control visibility of nav links.
                    Checking that there is a session variable "user"-->    
                    {% if session.user %}
                        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Your Profile</a></li>
                        <li><a href="{{ url_for('add_recipes') }}">Add Recipe</a></li>
                        {% if session.user|lower == "admin"|lower %}        
                        <li><a href="{{ url_for('list_category') }}">Add Category</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- For Mobile side nav bar-->

        <ul class="sidenav pink darken-3" id="mobile-demo">
            <li><h4 class="center-align">Share Plate</h4></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
        <!-- Using session variables to control visibility of nav links.
        Checking that there is a session variable "user"-->    
        {% if session.user %}
            <li><a href=" {{ url_for('recipes') }}">Recipes</a></li>
            <li><a href=" {{ url_for('profile', username=session['user']) }}">Your Profile</a></li>
            <li><a href=" {{url_for('add_recipes') }}">Add Recipe</a></li>  
            {% if session.user|lower == "admin"|lower %}        
                <li><a href="{{ url_for('list_category') }}">Add Category</a></li>
            {% endif %}
            <li><a href=" {{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <li><a href=" {{ url_for('login') }}">Log In</a></li>
            <li><a href=" {{ url_for('register') }}">Sign Up</a></li>
        {% endif %}
        </ul>
    </header>

    <section>
        <!-- This section is for our flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="grey lighten-2 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main class="container">
    {% block content %}
    {% endblock %}
    </main>

<footer class="center-align"> 
    <ul class="social">
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"> </i></li>
        <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"> </i></li>
        <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube-square"> </i></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"> </i></li>
    </ul>
</footer>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>