{% extends "base.html" %}
{% block content %}

<!-- Landing page to welcome visitor to site and allow for registeration or login-->
<section>
  <div id="hero-image" >
    <div class="row" id="herocard">
      <div class="col s12 m6 offset-m3">
        <div class="card blue-grey darken-2">
          <div class="card-content white-text">
            <h1 class="card-title center-align text-shadow">Welcome to Shareplate</h1>
            <p>The site to find and share an abundance of recipes to suit any culinary style and desire.
              <a class="blue-text text-shadow" href="{{ url_for('register') }}">REGISTER</a> today to join this food
              loving community.</p>
          </div>
          <div class="card-action center-align pink-text text-shadow">
            <a href="{{ url_for('login') }}">Log In</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

{% endblock %}