{% extends "base.html" %}
{% block content %}

<!-- This is the profile page for the users. It only pulls in recipes that 
the used actually contributed. It has a backgrond image for styling and full functionality 
to edit and delete recipes-->

<div id="hero2-image" class="m12">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <h4 class="profile-name center-align text-shadow">
            <i class="fas fa-door-open"></i>
            Welcome {{ username|capitalize }}
          </h4>
          <p class="center-align profile-para"> This is your profile page where you can <a class="blue-text text-shadow" href="{{ url_for('add_recipes') }}">ADD RECIPES</a>, 
           see which recipes that you contributed. Update the recipes you have already submitted. Finally, you can delete the recipes that you
            don't wish to share anymore with a click of a button. It's that easy!
          </p>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Here is where we pull in all the users recipes-->

  <div class="row">
    <div class="col s12 m4 offset-m4 blue-grey lighten-4">
      <h3 class="black-text center">
        {{ username|capitalize }}'s Recipes
      </h3>
    </div>
  </div>

  <!-- Listing the recipes that belongs to logged in user -->

  <ul class="collapsible">

    {% for recipe in recipes %}
    {% if session.user|lower == recipe.created_by|lower %}
    <li>
      <div class="collapsible-header white-text pink darken-3 text-shadow">
        <!-- matching the buttons from tims lesson but with my own twist-->
        <div class="col s4">
          <i class="fas fa-carrot tooltipped" data-position="right" data-tooltip="Click me for full recipe!"></i>
        </div>
        <div class="col s8">
          <strong>Recipe > {{ recipe.recipe_name }}</strong> : {{ recipe.star_rating }} rating !
          <i class="far fa-star white-text text-lighten-2 tooltipped" data-position="right"
            data-tooltip="DELICIOUS!"></i>
          {% if session.user|lower == recipe.created_by|lower %}
          <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
            class="btn-small black white-text right">Delete</a>
          <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
            class="btn-small  pink lighten-4 black-text  right">Edit</a>
          {% endif %}
        </div>
      </div>

      <div class="collapsible-body white">
        <strong> Category : {{ recipe.category_name }}</strong>
        <p> Ingredients : {{ recipe.ingredients }}</p>
        <p> Cuisine : {{ recipe.cuisine }} </p>
        <p> Required tools : {{ recipe.tools }} </p>
        <p> Created By: {{recipe.created_by}}</p>
        <hr>
        <div class="col s12 m7">
          <h2 class="header">{{recipe.recipe_name}}</h2>
          <div class="card horizontal">
            <div class="card-image">
              <img src="../static/img/recipecard.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Method: <br>
                  {{ recipe.method }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}