{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Sign Up</h3>

    <div class="row">
        <!-- Copied card set up form task manager mini project-->

        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel pink">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12 white-text">
						<i class="fas fa-pepper-hot prefix text-darken-4"></i>
						<input id="username" name="username" type="text" class="validate">
						<label for="username">Username</label>
					</div>
                </div>
                <!-- password field -->
                <div class="row">
                    <div class="input-field col s12 white-text">
						<i class="fas fa-lemon prefix text-darken-4"></i>
                        <input id="password" name="password" type="password" class="validate black-text">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large pink darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}